---
import avatar from '../../public/portfolio-profile.png'

const navItems = [
    {
        title: "Experience",
        label: "experience",
        url: "/#experience",
    },
    {
        title: "Education",
        label: "education",
        url: "/#education",
    },
    {
        title: "Volunteering",
        label: "volunteering",
        url: "/#volunteering",
    },
    {
        title: "Contact",
        label: "contact",
        url: "mailto:aylin.reyes.8@gmail.com",
    },
]
import { Image } from 'astro:assets';


---
<header class="sm:sticky sm:top-0 sm:z-[1000] sm:bg-inherit flex sm:justify-between items-center py-3 sm:mx-auto px-4 sm:px-6 lg:px-8 sm:w-[23.438] md:w-[40rem] lg:w-[61.25rem] xl:w-[81.25rem]">
    <Image src={avatar} alt="logo" class="rounded-full w-12 h-12 "/>
    <nav class="ml-4  sm:flex sm:flex-row flex flex-col gap-x-10 opacity-70 font-bold xs:gap-x-1">
        {
            navItems.map((link) => (
                    <a
                            class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400 xs:text-sm"
                            aria-label={link.label}
                            href={link.url}
                    >
                        {link.title}
                    </a>
            ))
        }
    </nav>
</header>