---
import avatar from '../../public/portfolio-profile.png'

const navItems = [
    {
        title: "Experience",
        label: "experience",
        url: "/#experience",
    },
    {
        title: "Education",
        label: "education",
        url: "/#education",
    },
    {
        title: "Volunteering",
        label: "volunteering",
        url: "/#volunteering",
    },
    {
        title: "Contact",
        label: "contact",
        url: "mailto:aylin.reyes.8@gmail.com",
    },
]
import { Image } from 'astro:assets';


---
<style>
    header {
        position: sticky;
        top: 0;
        z-index: 1000; /* Esto asegura que el header esté por encima de otros elementos */
        background-color: inherit; /* Esto asegura que el header no sea transparente */
    }
</style>
<header class="flex justify-between items-center py-3 w-[1120px] mx-auto" >
    <Image src={avatar} alt="logo" class="rounded-full w-12 h-12"/>
    <nav class="flex flex-row gap-x-10 opacity-70 font-bold">
        {
            navItems.map((link) => (
                    <a
                            class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400"
                            aria-label={link.label}
                            href={link.url}
                    >
                        {link.title}
                    </a>
            ))
        }
    </nav>
</header>