---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
	title: string
	description: string
}

const { description, title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="../../public/web.png"/>
		<meta name="generator" content={description} />
		<title>{title}</title>
	</head>
	<body class="relative m-auto sm:w-full md:w-[40rem] lg:w-[61.25rem] xl:w-[81.25rem]">
	    <Header/>
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
      color-scheme: light dark;
	}
	html {
		font-family: system-ui, sans-serif;
		scroll-behavior: smooth;

	}

	body {
		display: flex;
		flex-direction: column;
		background: #F3F4FF;
		overscroll-behavior: none;
		min-height: 100vh;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
